@using SchoolWeb2.DTO
@model GradeDTO
<div>
    <form method="post" asp-action="Edit">
        <h4>Edit a grade</h4>
        <input class="form-group" asp-for="Id" hidden />
        <div class="form-group">
            <span class="input-group-text">Student</span>
            <select class="form-control" asp-for="StudentId" asp-items="ViewBag.Students"></select>
        </div>
        <div class="form-group">
              <span class="input-group-text">Subject</span>
            <select class="form-control" asp-for="SubjectId" asp-items="ViewBag.Subjects"></select>
        </div>
        <div class="form-group">
            <span class="input-group-text">What</span>
            <input type="text" asp-for="What" placeholder="What was examined" class="form-control" />
        </div>
        <div class="form-group">
            <span class="input-group-text">Mark</span>
            <input type="number" asp-for="Mark"  class="form-control" />
        </div>
        <div>
            <input class="btn btn-success" asp-for="Mark" type="submit" value="Save changes" />
        </div>
    </form>
</div>
