@using SchoolWeb2.DTO
@model SubjectDTO
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
 
	<form method="post" class="form-group">
	 
		<h4>Create a new subject</h4>
		<span asp-validation-for="Name" class="text-danger"></span><br />
	<span class="input-group-text">Name</span>
		<input type="text" asp-for="Name" class="form-control" />
	<div class="d-grid gap-2">
		<input type="submit" value="Add" name="Add" asp-action="Add" class="btn btn-outline-primary" />
		</div>
	</form>
 