@{
	ViewData["Title"] = "Privacy Policy";
}

<h1>Exercise from ASP.NET Core MVC</h1>
<p>this application is the output of an exercise from a requalification course at the VŠB</p>
<hr />
<p> <b>Login as admin</b></p>
<p>Admin / Abcd123+</p>
<hr />
<p><b>File structure for adding students using a file</b></p>
<p>
	&lt;Students&gt;<br />
	&nbsp;&nbsp; &lt;Student&gt;<br />
	&nbsp;&nbsp;&nbsp;&nbsp;	&lt;FirstName&gt;Nancie&lt;/FirstName&gt;<br />
	&nbsp;&nbsp;&nbsp;&nbsp;	&lt;LastName&lt;Rawlin&lt;/LastName&gt;<br />
	&nbsp;&nbsp;&nbsp;&nbsp;	&lt;DateOfBirth&gt;29/4/2001&lt;/DateOfBirth&gt;<br />
	&nbsp;&nbsp;&lt;/Student&gt;<br />
	&lt;/Students&gt;<br />
</p>
