@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
	ViewData["Title"] = "ROLES";
}
<h1>All roles</h1>
<div class="d-grid gap-2">
<a class="btn btn-primary" asp-action="Create">Create role</a>
</div>
<table class="table table-sm table-bordered table-striped ">
	<tr>
		<th>Name</th>
		<th>ID</th>
		<th class ="col-1">Update</th>
		<th class="col-1">Delete</th>
	</tr>
	@foreach (var role in Model)
	{
		<tr>
			<td>@role.Name</td>
			<td>@role.Id</td>
			<td>
				<div class="d-grid gap-2">
					<a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@role.Id">Update</a>
			</td>
			<td>
				<form method="post" asp-action="Delete" asp-route-id="@role.Id">
					<div class="d-grid gap-2">
						<button type="submit" class="btn   btn-outline-danger">Delete</button>
					</div>
				</form>
			</td>
		</tr>
	}
</table>

